version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: ecommerce_db_dev
    environment:
      - POSTGRES_DB=ecommerce_db
      - POSTGRES_USER=ecommerce_user
      - POSTGRES_PASSWORD=ecommerce_password
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
      #- ./scripts/database/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ecommerce_user -d ecommerce_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    ports:
      - "8000:8000"
    env_file:
      - .env.dev
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - DEBUG=True
      - DJANGO_SETTINGS_MODULE=backend.settings.dev


  celery:
    build: ./backend
    command: python -m celery -A backend worker --loglevel=info
    volumes:
      - ./backend:/app
    env_file:
      - .env.dev
    depends_on:
      - redis
      - db

  celery-beat:
    build: ./backend
    command: python -m celery -A backend beat --loglevel=info
    volumes:
      - ./backend:/app
    env_file:
      - .env.dev
    depends_on:
      - redis
      - db

volumes:
  postgres_data_dev:
  static_volume:
  media_volume: